* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.desktop {
  background-color: #dedede;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-height: 100vh;
  /* overflow-x: scroll; */
}

.desktop .overlap-wrapper {
  background-color: #dedede;
  height: 707px;
  overflow: hidden;
  width: 1537px;
}

.desktop .overlap {
  height: 785px;
  position: relative;
  top: -38px;
  width: 1586px;
}

.desktop .background {
  height: 785px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1586px;
}

.desktop .overlap-group {
  height: 785px;
  position: relative;
}

.desktop .ellipse {
  background-color: #13374e;
  border-radius: 324px/71px;
  height: 142px;
  left: 896px;
  position: absolute;
  top: 0;
  width: 648px;
}

.desktop .div {
  background-color: #13374e;
  border-radius: 324px/71px;
  height: 142px;
  left: 899px;
  position: absolute;
  top: 638px;
  width: 648px;
}

.desktop .BG {
  -webkit-backdrop-filter: blur(500px) brightness(100%);
  backdrop-filter: blur(500px) brightness(100%);
  background-color: #d9d9d94c;
  height: 776px;
  left: 0;
  position: absolute;
  top: 9px;
  width: 1586px;
}

.desktop .frame {
  background: linear-gradient(
    180deg,
    rgb(18.48, 57.9, 83.67) 0%,
    rgba(0, 0, 0, 0.87) 100%
  );
  border-radius: 0px 150px 150px 0px;
  box-shadow: 0px 4px 4px #00000040;
  height: 614px;
  left: 0;
  position: absolute;
  top: 85px;
  width: 416px;
}

.desktop .text-wrapper {
  color: rgb(190, 190, 190, 1);
  font-family: "Barlow-SemiBold", Helvetica;
  font-size: 30px;
  font-weight: 600;
  left: 262px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 26px;
  width: 79px;
  cursor: pointer;
  transition: all 0.01s ease;
}

.text-wrapper-8:hover,
.text-wrapper:hover {
  opacity: 0.5 !important;
}
.text-wrapper:active,
.text-wrapper-8:active {
  opacity: 0.3 !important;
}

.desktop .overlap-group-wrapper {
  -webkit-backdrop-filter: blur(58.5px) brightness(100%);
  backdrop-filter: blur(58.5px) brightness(100%);
  background-color: #afc6d561;
  border-radius: 100px;
  box-shadow: 0px 4px 4px #00000040;
  height: 488px;
  left: 151px;
  overflow: hidden;
  position: absolute;
  top: 148px;
  width: 1235px;
}

.desktop .overlap-2 {
  height: 463px;
  position: relative;
  top: 25px;
}

.desktop .rectangle {
  height: 139px;
  left: 0;
  position: absolute;
  top: 324px;
  width: 1235px;
}

.desktop .image-removebg {
  height: 396px;
  left: 846px;
  object-fit: cover;
  position: absolute;
  /* top: 0; */
  bottom: 0;
  width: 389px;
}

.desktop .text {
  height: 302px;
  left: 435px;
  position: absolute;
  top: 32px;
  width: 367px;
}

.desktop .text-wrapper-2 {
  color: #000000;
  font-family: "Barlow-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 97px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.6;
  position: absolute;
  top: 285px;
  white-space: nowrap;
  width: 171px;
  cursor: pointer;
}
.desktop .text-wrapper-2:hover {
  opacity: 0.9;
}
.desktop .text-wrapper-2:active {
  opacity: 0.6;
}

.desktop .input {
  height: 116px;
  left: 0;
  position: absolute;
  top: 158px;
  width: 365px;
}

.desktop .password {
  height: 46px;
  left: 0;
  position: absolute;
  top: 70px;
  width: 367px;
}

.desktop .overlap-group-2 {
  background-color: #dbe5ea;
  border-radius: 100px;
  box-shadow: 0px 4px 4px #00000040;
  height: 46px;
  position: relative;
  width: 365px;
}

.desktop .label {
  color: #000000;
  font-family: "Barlow-Thin", Helvetica;
  font-size: 18px;
  font-weight: 100;
  left: 70px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.7;
  position: absolute;
  top: 13px;
  white-space: nowrap;
  width: 161px;
}

.desktop .vector {
  height: 16px;
  left: 30px;
  position: absolute;
  top: 15px;
  width: 16px;
}

.desktop .eye {
  height: 16px;
  left: 319px;
  position: absolute;
  top: 16px;
  width: 26px;
  cursor: pointer;
}

.desktop .email {
  height: 46px;
  left: 0;
  position: absolute;
  top: 0;
  width: 367px;
}

.desktop .overlap-3 {
  background-color: #dbe5e9;
  border-radius: 100px;
  box-shadow: 0px 4px 4px #00000040;
  height: 46px;
  position: relative;
  width: 365px;
}

.desktop .img {
  height: 13px;
  left: 27px;
  position: absolute;
  top: 17px;
  width: 19px;
}

.desktop .enter-your-email,
.desktop .enter-your-password {
  background: transparent;
  border: none;
  color: #000000;
  font-family: "Barlow-Thin", Helvetica;
  font-size: 18px;
  font-weight: 100;
  left: 70px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.7;
  padding: 0;
  position: absolute;
  top: 13px;
  white-space: nowrap;
  /* width: 131px; */
  width: auto;
}

.desktop .role {
  height: 132px;
  left: 9px;
  position: absolute;
  top: 0;
  width: 350px;
}

.desktop .text-wrapper-3 {
  color: #13374f;
  font-family: "Barlow-SemiBold", Helvetica;
  font-size: 22px;
  font-weight: 600;
  left: 93px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.8;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 162px;
}

.desktop .buyer {
  height: 85px;
  left: 0;
  position: absolute;
  top: 47px;
  width: 100px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.buyer:hover .rectangle-2,
.seller:hover .rectangle-2,
.admin:hover .rectangle-2 {
  border-color: #14476c;
  opacity: 1;
}
/* .buyer:active .rectangle-2,
.seller:hover .rectangle-2,
.admin:hover .rectangle-2 {
  border-color: green;
  opacity: 1;
} */

.desktop .overlap-group-3 {
  border-radius: 7px;
  height: 85px;
  position: relative;
  width: 98px;
}

.desktop .text-wrapper-4 {
  color: #13374f;
  font-family: "Barlow-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.8;
  position: absolute;
  top: 57px;
  white-space: nowrap;
  width: 56px;
}

.desktop .rectangle-2 {
  border: 5px solid;
  border-color: #1b5f8e;
  border-radius: 7px;
  height: 85px;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 98px;
}

.desktop .mask-group {
  height: 39px;
  left: 27px;
  position: absolute;
  top: 10px;
  width: 44px;
}

.desktop .seller {
  height: 85px;
  left: 124px;
  position: absolute;
  top: 47px;
  width: 100px;
  background-color: transparent;
  border: none;
}

.desktop .text-wrapper-5 {
  color: #13374f;
  font-family: "Barlow-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.8;
  position: absolute;
  top: 57px;
  white-space: nowrap;
  width: 60px;
}

.desktop .brands-sellcast {
  height: 35px;
  left: 28px;
  position: absolute;
  top: 12px;
  width: 40px;
}

.desktop .admin {
  height: 85px;
  left: 250px;
  position: absolute;
  top: 47px;
  width: 100px;
  background-color: transparent;
  border: none;
}

.desktop .text-wrapper-6 {
  color: #13374f;
  font-family: "Barlow-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.8;
  position: absolute;
  top: 58px;
  white-space: nowrap;
  width: 54px;
}

.desktop .clarity {
  height: 35px;
  left: 31px;
  position: absolute;
  top: 14px;
  width: 40px;
}

.desktop .login-button {
  all: unset;
  box-sizing: border-box;
  height: 60px;
  left: 630px;
  position: absolute;
  top: 598px;
  width: 278px;
  cursor: pointer;
}

.desktop .div-wrapper {
  background-color: #5f7b8e;
  border-radius: 100px;
  height: 60px;
  position: relative;
  width: 276px;
  transition: 0.04s ease;
  box-shadow: inset 0px 3px 4px #00000040;
}
.desktop .div-wrapper:hover {
  box-shadow: 0px 4px 4px #00000040;
}
.desktop .div-wrapper:active {
  box-shadow: inset 0px 3px 4px #00000040;
}

.desktop .text-wrapper-7 {
  color: #000000;
  font-family: "Barlow-SemiBold", Helvetica;
  font-size: 26px;
  font-weight: 600;
  left: 90px;
  letter-spacing: 4.94px;
  line-height: normal;
  position: absolute;
  top: 14px;
  white-space: nowrap;
  width: 95px;
}

.desktop .text-wrapper-8 {
  color: #000000;
  font-family: "Barlow-Regular", Helvetica;
  font-size: 30px;
  font-weight: 600;
  left: 1168px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.3;
  position: absolute;
  top: 111px;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.01s ease;
}

.desktop .down-text {
  height: 24px;
  left: 628px;
  position: absolute;
  top: 681px;
  width: 285px;
}

.desktop .text-wrapper-9 {
  color: #000000;
  font-family: "Barlow-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.6;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.desktop .text-wrapper-10 {
  color: #000000;
  font-family: "Barlow-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  left: 148px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-decoration: underline;
  top: 0;
  white-space: nowrap;
  margin-left: 15px;
  cursor: pointer;
}
.desktop .text-wrapper-10:active {
  opacity: 0.8;
}
.desktop .logo {
  height: 82px;
  left: 650px;
  position: absolute;
  top: 70px;
  width: 238px;
  cursor: pointer;
}

input:focus {
  outline: none;
}

/* .frame-signup {
  background: linear-gradient(
    180deg,
    rgb(18.48, 57.9, 83.67) 0%,
    rgba(0, 0, 0, 0.87) 100%
  );
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0px 150px 150px 0px;
  height: 614px;
  position: relative;
  width: 416px;
}

.frame-signup .text-wrapper-signup {
  color: #ffffff;
  font-family: "Barlow-SemiBold", Helvetica;
  font-size: 30px;
  font-weight: 600;
  left: 235px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 554px;
  transform: rotate(180deg);
  white-space: nowrap;
} */

.my-box {
  height: 60px;
  position: relative;
  width: 276px;
}

.my-box .my-buttons {
  height: 60px;
  left: 0;
  position: fixed;
  top: 0;
  width: 276px;
}

.my-box .my-previous-button {
  background-color: #5f7b8e;
  box-shadow: 0px 4px 4px #00000040;
  height: 60px;
  left: 0;
  position: absolute;
  top: 0;
  width: 136px;
  transition: 0.04s ease;
  box-shadow: inset 0px 3px 4px #00000040;
  border-radius: 50px 0px 0px 50px;
}

.my-box .my-flat-color-icons {
  height: 38px;
  left: 50px;
  position: absolute;
  top: 11px;
  width: 36px;
}

.my-box .my-next-button {
  background-color: #5f7b8e;
  box-shadow: 0px 4px 4px #00000040;
  height: 60px;
  left: 140px;
  position: absolute;
  top: 0;
  width: 136px;
  border-radius: 0px 50px 50px 0px;
  transition: 0.04s ease;
  box-shadow: inset 0px 3px 4px #00000040;
}

.my-box .my-next-button:hover,
.my-box .my-previous-button:hover {
  box-shadow: 0px 4px 4px #00000040;
}
.my-box .my-next-button:active,
.my-box .my-previous-button:active {
  box-shadow: inset 0px 3px 4px #00000040;
}

/* signup up main  */
.signup-box {
  height: 523px;
  width: 1542px;
  transform: rotate(180deg);
}

.signup-box .signup-group {
  height: 523px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1542px;
}

.signup-box .signup-overlap {
  height: 481px;
  left: 254px;
  position: relative;
  width: 1235px;
}

.signup-box .signup-rectangle {
  height: 139px;
  left: 0;
  position: absolute;
  top: 342px;
  width: 1235px;
}

.signup-box .signup-overlap-wrapper {
  height: 414px;
  left: 242px;
  position: absolute;
  top: 0;
  width: 792px;
}

.signup-box .signup-overlap-group {
  height: 414px;
  position: relative;
  width: 389px;
}

.signup-box .signup-text {
  height: 267px;
  left: 0;
  position: absolute;
  top: 96px;
  transform: rotate(180deg);
  width: 365px;
}

.signup-box .signup-role {
  height: 132px;
  left: 80px;
  position: absolute;
  top: 0;
  width: 224px;
}

.signup-box .signup-text-wrapper {
  color: #13374f;
  font-family: "Barlow-SemiBold", Helvetica;
  font-size: 22px;
  font-weight: 600;
  left: 30px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.8;
  position: absolute;
  top: 106px;
  white-space: nowrap;
  width: 162px;
}

.signup-box .signup-buyer {
  height: 85px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100px;
}

.signup-box .signup-div {
  border-radius: 7px;
  height: 85px;
  position: relative;
  width: 98px;
}

.signup-box .signup-text-wrapper-2 {
  color: #13374f;
  font-family: "Barlow-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 29px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.8;
  position: absolute;
  top: 11px;
  white-space: nowrap;
  width: 56px;
}

.signup-box .signup-rectangle-2 {
  border: 5px solid;
  border-color: #1b5f8e;
  border-radius: 7px;
  height: 85px;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 0;
  width: 98px;
}

.signup-box .signup-mask-group {
  height: 39px;
  left: 27px;
  position: absolute;
  top: 36px;
  transform: rotate(-180deg);
  width: 44px;
}

.signup-box .signup-seller {
  height: 85px;
  left: 124px;
  position: absolute;
  top: 0;
  width: 100px;
}

.signup-box .signup-text-wrapper-3 {
  color: #13374f;
  font-family: "Barlow-Medium", Helvetica;
  font-size: 18px;
  font-weight: 500;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.8;
  position: absolute;
  top: 11px;
  white-space: nowrap;
  width: 60px;
}

.signup-box .signup-brands-sellcast {
  height: 35px;
  left: 29px;
  position: absolute;
  top: 37px;
  transform: rotate(-180deg);
  width: 40px;
}

.signup-box .signup-input {
  height: 115px;
  left: 0;
  position: absolute;
  top: 152px;
  width: 365px;
}

.signup-box .signup-un-input {
  height: 46px;
  left: 0;
  position: absolute;
  top: 0;
  width: 367px;
}

.signup-box .signup-div-wrapper {
  background-color: #dbe5e9;
  border-radius: 100px;
  box-shadow: 0px 4px 4px #00000040;
  height: 46px;
  position: relative;
  width: 365px;
}

.signup-box .signup-text-wrapper-4 {
  color: #000000;
  font-family: "Barlow-Thin", Helvetica;
  font-size: 18px;
  font-weight: 100;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.7;
  position: absolute;
  top: 15px;
  white-space: nowrap;
  width: 91px;
}

.signup-box .signup-fn-input {
  height: 46px;
  left: 0;
  position: absolute;
  top: 69px;
  width: 183px;
}

.signup-box .signup-overlap-2 {
  background-color: #dbe5e9;
  border-radius: 100px 0px 0px 100px;
  box-shadow: 0px 4px 4px #00000040;
  height: 46px;
  position: relative;
  width: 181px;
}

.signup-box .signup-text-wrapper-5 {
  color: #000000;
  font-family: "Barlow-Thin", Helvetica;
  font-size: 18px;
  font-weight: 100;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.7;
  position: absolute;
  top: 13px;
  white-space: nowrap;
  width: 90px;
}

.signup-box .signup-ln-input {
  height: 46px;
  left: 185px;
  position: absolute;
  top: 69px;
  width: 182px;
}

.signup-box .signup-overlap-3 {
  background-color: #dbe5e9;
  border-radius: 0px 100px 100px 0px;
  box-shadow: 0px 4px 4px #00000040;
  height: 46px;
  position: relative;
  width: 180px;
}

.signup-box .signup-text-wrapper-6 {
  color: #000000;
  font-family: "Barlow-Thin", Helvetica;
  font-size: 18px;
  font-weight: 100;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0.7;
  position: absolute;
}
