.wl-product {
  /* border: 2px solid red; */
  height: 135px;

  border-bottom: 2px solid rgb(0, 0, 0, 0.2);
}

.wl-frame .wl-div-wrapper {
  height: 27px;
  left: 193px;
  /* position: absolute; */
  top: 45px;
  width: 138px;
}

.wl-frame .wl-text-wrapper-4 {
  color: #2f2f31;
  font-family: "Inter-Bold", Helvetica;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0;

  line-height: normal;
  position: relative;
  top: -55px;
  left: 193px;
}
.productpic img {
  mix-blend-mode: darken;
}
.wl-product .productpic {
  /* height: 1px; */
  object-fit: cover;
  position: relative;
  top: 10px;
  left: 27px;
  width: 110px;
  /* height: 120px; */
  /* border: 2px solid red; */
}
.wl-product .wl-image {
  mix-blend-mode: darken;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.wl-frame .wl-overlap-group {
  position: relative;
  top: -90px;
  left: 600px;
  width: fit-content;
  transition: all 0.3s ease;
  z-index: 20;
  border: 2px solid #2f2f31;
  color: #2f2f31;
  border-radius: 20px;
  height: 39px;
  font-family: "Inter-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  width: 134px;
}
.wl-frame .wl-overlap-group:hover {
  transform: scale(1.05);
}

.wl-frame .wl-group-2 {
  height: 17px;
  left: 26px;
  position: relative;
  top: 8px;
  width: 81px;
  height: 100%;
  width: 100%;
}

.wl-frame .wl-text-wrapper-5 {
  color: #000000d9;
  font-family: "Inter-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: -6px;
  background-color: red;
  height: 100%;
  width: 100%;
}

.wl-frame .wl-text-wrapper-6 {
  color: #2f2f31;
  font-family: "Inter-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 419px;
  letter-spacing: 0;
  line-height: normal;
  position: relative;

  top: -122px;
}
