.body {
  font-family: Poppins;
}
.product-search-icon,
.product-favourites,
.product-profile,
.product-prime-shopping-cart,
.product-overlap-5,
.product-group-3,
.product-share-btn,
.product-inner-wrapper,
.product-group-wrapper,
.product-favourites-2,
.product-iconamoon-search {
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}

.product-search-icon:hover,
.product-favourites:hover,
.product-profile:hover,
.product-prime-shopping-cart:hover,
.product-overlap-5:hover,
.product-group-3:hover,
.product-share-btn:hover,
.product-inner-wrapper:hover,
.product-group-wrapper:hover,
.product-favourites-2:hover,
.product-iconamoon-search:hover {
  transform: scale(1.2); /* Adjust the scale factor as needed */
  filter: brightness(1.5); /* Adjust the brightness factor as needed */
}

.product-frame {
  background-color: #eeeeee;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.product-frame .product-div {
  background-color: #eeeeee;
  height: 2365px;
  overflow: hidden;
  position: relative;
  width: 1537px;
}

.product-frame .product-footer {
  background-color: #22242a;
  height: 224px;
  left: -3px;
  position: absolute;
  top: 2141px;
  width: 1540px;
}

.product-frame .product-menu-header {
  align-items: flex-start;
  display: inline-flex;
  gap: 40px;
  left: 283px;
  position: absolute;
  top: 60px;
}

.product-frame .product-text-wrapper {
  color: #ffffff;
  background-color: #22242a;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.product-frame .product-menu-footer {
  align-items: flex-start;
  display: inline-flex;
  gap: 40px;
  left: 283px;
  position: absolute;
  top: 148px;
}

.product-frame .product-text-wrapper-2 {
  color: #ffffff;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.product-frame .product-text-wrapper-3 {
  color: #ffffff;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 1383px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 150px;
  width: 103px;
}

.product-frame .product-social {
  height: 23px;
  left: 1322px;
  position: absolute;
  top: 59px;
  width: 13px;
}

.product-frame .product-img {
  height: 24px;
  left: 1363px;
  position: absolute;
  top: 60px;
  width: 24px;
}

.product-frame .product-social-2 {
  height: 24px;
  left: 1415px;
  position: absolute;
  top: 58px;
  width: 24px;
}

.product-frame .product-social-3 {
  background-image: url("../../Assets//insta.png");
  background-size: 100% 100%;
  height: 22px;
  left: 1467px;
  position: absolute;
  top: 59px;
  width: 22px;
}

.product-frame .product-line {
  height: 1px;
  left: 283px;
  object-fit: cover;
  position: absolute;
  top: 115px;
  width: 1200px;
}

.product-frame .product-overlap-group {
  border-radius: 100px;
  height: 32px;
  left: 997px;
  position: absolute;
  top: 55px;
  width: 240px;
}

.product-frame .product-search {
  border-radius: 100px;
  height: 32px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 240px;
}

.product-frame .product-input {
  background-color: #ffffff;
  border: none;
  border-radius: 100px;
  color: #000000;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  height: 29px;
  letter-spacing: 0;
  line-height: normal;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 15px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 240px;
}

.product-frame .product-iconamoon-search {
  height: 20px;
  left: 209px;
  position: absolute;
  top: 6px;
  width: 20px;
  cursor: pointer;
}

.product-frame .product-logo {
  height: 73px;
  left: 33px;
  position: absolute;
  top: 72px;
  width: 180px;
}

.product-frame .product-colaborators {
  background: linear-gradient(
    180deg,
    rgb(211.17, 211, 211) 0%,
    rgb(244, 244, 244) 100%
  );
  height: 321px;
  left: 0;
  position: absolute;
  top: 1820px;
  width: 1537px;
}

.product-frame .product-download-removebg {
  height: 108px;
  left: 978px;
  object-fit: cover;
  position: absolute;
  top: 107px;
  width: 250px;
}

.product-frame .product-chanel-removebg {
  height: 131px;
  left: 690px;
  object-fit: cover;
  position: absolute;
  top: 95px;
  width: 221px;
}

.product-frame .product-ralph-lauren-symbol {
  height: 117px;
  left: 357px;
  object-fit: cover;
  position: absolute;
  top: 102px;
  width: 254px;
}

.product-frame .product-breitling-logo {
  height: 86px;
  left: 37px;
  object-fit: cover;
  position: absolute;
  top: 118px;
  width: 210px;
}

.product-frame .product-png-transparent {
  height: 108px;
  left: 1265px;
  object-fit: cover;
  position: absolute;
  top: 107px;
  width: 272px;
}

.product-frame .product-nav-bar-wrapper {
  background-color: #eeeeee;
  height: 105px;
  left: 24px;
  position: absolute;
  top: 0;
  width: 1490px;
}

.product-frame .product-nav-bar {
  height: 73px;
  left: 22px;
  position: relative;
  top: 20px;
  width: 1434px;
}

.product-frame .product-logo-2 {
  height: 73px;
  left: -1px;
  position: absolute;
  top: 0;
  width: 180px;
}

.product-frame .product-prime-shopping-cart {
  height: 28px;
  left: 1335px;
  position: absolute;
  top: 23px;
  width: 34px;
}

.product-frame .product-search-button {
  height: 51px;
  left: 357px;
  position: absolute;
  top: 11px;
  width: 739px;
}

.product-frame .product-overlap-group-2 {
  border: 1px solid;
  border-color: #315166;
  border-radius: 100px;
  box-shadow: 0px 4px 4px #00000040;
  height: 51px;
  position: relative;
  width: 735px;
  font-family: "Roboto-Regular", Helvetica;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: normal;
  padding-left: 15px;
}

.product-frame .product-p {
  color: #413b3b82;
  font-family: "Barlow-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
  width: 383px;
}

.product-frame .product-overlap {
  background-color: #383838;
  border-radius: 0px 100px 100px 0px;
  height: 51px;
  left: 695px;
  position: absolute;
  top: 0;
  width: 58px;
  cursor: pointer;
}

.product-frame .product-search-icon {
  height: 24px;
  left: 13px;
  position: absolute;
  top: 14px;
  width: 24px;
}

.product-frame .product-favourites {
  height: 26px;
  left: 1266px;
  position: absolute;
  top: 24px;
  width: 28px;
}

.product-frame .product-profile {
  height: 24px;
  left: 1410px;
  position: absolute;
  top: 25px;
  width: 24px;
}

.product-frame .product-heading {
  background-image: url("../../Assets/hero-bg.png");
  background-size: 100% 100%;
  box-shadow: 0px 1product-5px 4px #00000040;
  height: 51px;
  left: 0;
  position: absolute;
  top: 131px;
  width: 1537px;
}

.product-frame .product-items {
  height: 27px;
  left: 670px;
  position: relative;
  top: 12px;
  width: 203px;
}

.product-frame .product-text-wrapper-4 {
  color: #3c3f43;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 54px;
}

.product-frame .product-text-wrapper-5 {
  color: #c1c8ce;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 61px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 3px;
  width: 5px;
}

.product-frame .product-text-wrapper-6 {
  color: #33a0ff;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 75px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 122px;
}

.product-frame .product-pic {
  background-image: url("../../Assets/product-bg.png");
  background-size: 100% 100%;
  height: 600px;
  left: 124px;
  position: absolute;
  top: 258px;
  width: 600px;
}

.product-frame .product-image {
  height: 500px;
  left: 50px;
  object-fit: cover;
  position: absolute;
  top: 50px;
  width: 500px;
}

.product-frame .product-rectangle {
  height: 2px;
  left: 807px;
  position: absolute;
  top: 364px;
  width: 641px;
}

.product-frame .product-rectangle-2 {
  height: 2px;
  left: 807px;
  position: absolute;
  top: 558px;
  width: 641px;
}

.product-frame .product-rectangle-3 {
  height: 2px;
  left: 807px;
  position: absolute;
  top: 649px;
  width: 641px;
}

.product-frame .product-overlap-2 {
  height: 419px;
  left: 807px;
  position: absolute;
  top: 663px;
  width: 641px;
}

.product-frame .product-rectangle-4 {
  height: 2px;
  left: 0;
  position: absolute;
  top: 281px;
  width: 641px;
}

.product-frame .product-accordion {
  height: 419px;
  left: 0;
  position: absolute;
  top: 0;
  width: 641px;
}

.product-frame .product-panel-open {
  height: 124px;
  left: 0;
  position: absolute;
  top: 295px;
  width: 618px;
}

.product-frame .product-bulleted-list {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  left: 0;
  position: absolute;
  top: 78px;
  color: var(--gray-800, #424551);
  margin-top: 10px;

  /* small/regular */
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
}

.product-frame .product-bulleted-line {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 16px;
  position: relative;
  fill: var(--primary, #17696a);
}

.product-frame .product-bullet {
  background-color: var(--primary);
  border-radius: 2px;
  height: 4px;
  position: relative;
  width: 4px;
}

.product-frame .product-text-wrapper-7 {
  color: var(--gray-800);
  font-family: var(--small-regular-font-family);
  font-size: var(--small-regular-font-size);
  font-style: var(--small-regular-font-style);
  font-weight: var(--small-regular-font-weight);
  letter-spacing: var(--small-regular-letter-spacing);
  line-height: var(--small-regular-line-height);
  margin-top: -1px;
  position: relative;
  width: 220px;
}

.product-frame .product-text-wrapper-8 {
  color: var(--gray-800);
  font-family: var(--small-regular-font-family);
  font-size: var(--small-regular-font-size);
  font-style: var(--small-regular-font-style);
  font-weight: var(--small-regular-font-weight);
  letter-spacing: var(--small-regular-letter-spacing);
  line-height: var(--small-regular-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.product-frame .product-you-have-days-to {
  color: var(--gray-800);
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 44px;
  width: 616px;
  color: var(--gray-800, #424551);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.product-frame .product-span {
  color: #414450;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
}

.product-frame .product-text-wrapper-9 {
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
}

.product-frame .product-title {
  align-items: center;
  display: inline-flex;
  gap: 16px;
  left: 32px;
  position: absolute;
  top: 0;
}

.product-frame .product-text-wrapper-10 {
  color: var(--gray-900);
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 32px;
  margin-top: -1px;
  position: relative;
  width: 493px;
}

.product-frame .product-panel-open-2 {
  height: 249px;
  left: 0;
  position: absolute;
  top: 0;
  width: 643px;
}

.product-frame .product-list {
  height: 156px;
  left: 0;
  position: absolute;
  top: 93px;
  width: 641px;
}

.product-frame .product-overlap-group-3 {
  height: 156px;
  position: relative;
}

.product-frame .product-divider {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 124px;
  width: 641px;
}

.product-frame .product-divider-2 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 78px;
  width: 641px;
}

.product-frame .product-divider-3 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 641px;
}

.product-frame .product-column {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  left: 513px;
  position: absolute;
  top: 0;
}

.product-frame .product-text-wrapper-11 {
  color: var(--gray-700);
  font-family: var(--small-bold-font-family);
  font-size: var(--small-bold-font-size);
  font-style: var(--small-bold-font-style);
  font-weight: var(--small-bold-font-weight);
  letter-spacing: var(--small-bold-letter-spacing);
  line-height: var(--small-bold-line-height);
  margin-top: -1px;
  position: relative;
  width: 85px;
  color: var(--gray-700, #787a80);

  /* small/bold */
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
}

.product-frame .product-text-wrapper-12 {
  color: var(--gray-800);
  font-family: var(--small-bold-font-family);
  font-size: var(--small-bold-font-size);
  font-style: var(--small-bold-font-style);
  font-weight: var(--small-bold-font-weight);
  letter-spacing: var(--small-bold-letter-spacing);
  line-height: var(--small-bold-line-height);
  position: relative;
  width: 85px;
  color: var(--gray-800, #424551);

  /* small/bold */
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
}

.product-frame .product-column-2 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  left: 269px;
  position: absolute;
  top: 0;
}

.product-frame .product-text-wrapper-13 {
  color: var(--gray-700);
  font-family: var(--small-bold-font-family);
  font-size: var(--small-bold-font-size);
  font-style: var(--small-bold-font-style);
  font-weight: var(--small-bold-font-weight);
  letter-spacing: var(--small-bold-letter-spacing);
  line-height: var(--small-bold-line-height);
  margin-top: -1px;
  position: relative;
  width: 180px;
  color: var(--gray-700, #787a80);

  /* small/bold */
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
}

.product-frame .product-text-wrapper-14 {
  color: var(--gray-800);
  font-family: var(--small-bold-font-family);
  font-size: var(--small-bold-font-size);
  font-style: var(--small-bold-font-style);
  font-weight: var(--small-bold-font-weight);
  letter-spacing: var(--small-bold-letter-spacing);
  line-height: var(--small-bold-line-height);
  position: relative;
  width: 180px;
  color: var(--gray-800, #424551);

  /* small/bold */
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
}

.product-frame .product-column-3 {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  left: 24px;
  position: absolute;
  top: 0;
}

.product-frame .product-text-wrapper-15 {
  color: var(--gray-800);
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 27px;
  left: 0;
  letter-spacing: 0;
  line-height: 24px;
  position: absolute;
  top: 40px;
  white-space: nowrap;
  width: 577px;
}

.product-frame .product-div-wrapper {
  height: 32px;
  left: 32px;
  position: absolute;
  top: 0;
  width: 602px;
}

.product-frame .product-text-wrapper-16 {
  color: var(--gray-900);
  font-family: "Poppins-Medium", Helvetica;
  font-size: 20px;
  font-weight: 500;
  height: 30px;
  left: 0;
  letter-spacing: 0;
  line-height: 30px;
  position: absolute;
  top: 0;
  width: 493px;
}

.product-frame .product-rectangle-5 {
  height: 2px;
  left: 807px;
  position: absolute;
  top: 1094px;
  width: 641px;
}

.product-frame .product-group {
  height: 64px;
  left: 807px;
  position: absolute;
  top: 434px;
  width: 400px;
}

.product-frame .product-text-wrapper-17 {
  color: #262626;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 101px;
}

.product-frame .product-text-wrapper-18 {
  color: #262626;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 33px;
  width: 88px;
}

.product-frame .product-overlap-3 {
  height: 61px;
  left: 156px;
  position: absolute;
  top: 0;
  width: 236px;
}

.product-frame .product-text-wrapper-19 {
  color: #262626;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 71px;
}

.product-frame .product-text-wrapper-20 {
  color: #262626;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 33px;
  width: 236px;
}

.product-frame .product-text-wrapper-21 {
  color: #c1c8ce;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 924px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 327px;
  width: 77px;
}

.product-frame .product-text-wrapper-22 {
  color: #33a0ff;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 1033px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 327px;
  width: 133px;
  cursor: pointer;
  user-select: none;
}

.product-frame .product-text-wrapper-23 {
  color: #22262a;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 36px;
  font-weight: 600;
  left: 806px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 257px;
  width: 578px;
}

.product-frame .product-rate {
  height: 18px;
  left: 806px;
  position: absolute;
  top: 325px;
  width: 99px;
}

.product-frame .product-text-wrapper-24 {
  color: var(--primaryblue);
  font-family: "Poppins-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 808px;
  letter-spacing: 0product-5px;
  line-height: 43product-2px;
  position: absolute;
  top: 379px;
  white-space: nowrap;
  color: var(--Primary-Blue, #40bfff);
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 180%; /* 43.2px */
  letter-spacing: 0.5px;
}

.product-frame .product-div-2 {
  height: 25px;
  left: 924px;
  position: absolute;
  top: 392px;
  width: 156px;
}

.product-frame .product-text-wrapper-25 {
  color: var(--neutralgrey);
  font-family: "Poppins-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: -6px;
  letter-spacing: 0product-5px;
  line-height: 21px;
  position: absolute;
  text-decoration: line-through;
  top: -2px;
  white-space: nowrap;
  color: var(--Neutral-Grey, #9098b1);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  letter-spacing: 0.5px;
  text-decoration-line: strikethrough;
}

.product-frame .product-text-wrapper-26 {
  color: var(--primaryred);
  font-family: "Poppins-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  left: 65px;
  letter-spacing: 0product-5px;
  line-height: 21px;
  position: absolute;
  top: 1px;
  white-space: nowrap;
  color: var(--Primary-Red, #fb7181);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 21px */
  letter-spacing: 0.5px;
}

.product-frame .product-color {
  height: 28px;
  left: 807px;
  position: absolute;
  top: 509px;
  width: 299px;
}

.product-frame .product-text-wrapper-27 {
  color: #262626;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 4px;
  white-space: nowrap;
  width: 123px;
}

.product-frame .product-colors {
  height: 28px;
  left: 146px;
  position: absolute;
  top: 0;
  width: 150px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.product-color-blue,
.product-color-red,
.product-color-black,
.product-color-yellow {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.product-frame .product-qty {
  height: 49px;
  left: 827px;
  position: absolute;
  top: 581px;
  width: 146px;
}

.product-frame .product-overlap-4 {
  background-image: url("../../Assets/quantity-bg.png");
  background-size: 100% 100%;
  height: 49px;
  position: relative;
  width: 144px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
}

.product-frame .product-text-wrapper-28 {
  color: #262626;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 66px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
  width: 12px;
  user-select: none;
}

.product-frame .product-group-2 {
  height: 12px;
  left: 113px;
  position: absolute;
  top: 18px;
  width: 13px;
}

.product-frame .product-rectangle-copy {
  height: 4px;
  left: 17px;
  position: absolute;
  top: 22px;
  width: 12px;
}

.product-frame .product-btn {
  all: unset;
  box-sizing: border-box;
  height: 49px;
  left: 1225px;
  position: absolute;
  top: 580px;
  width: 161px;
}

.product-frame .product-overlap-5 {
  background-image: url("../../Assets/addtocart-bg.png");
  background-size: 100% 100%;
  height: 49px;
  position: relative;
  width: 159px;
  cursor: pointer;
  user-select: none;
}

.product-frame .product-cart {
  height: 17px;
  left: 21px;
  position: absolute;
  top: 16px;
  width: 17px;
}

.product-frame .product-text-wrapper-29 {
  color: #33a0ff;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 54px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
  white-space: nowrap;
  width: 90px;
}

.product-frame .product-group-3 {
  height: 49px;
  left: 1399px;
  position: absolute;
  top: 581px;
  width: 49px;
  cursor: pointer;
}

.product-frame .product-tabs {
  height: 383px;
  left: 122px;
  position: absolute;
  top: 901px;
  width: 604px;
}

.product-frame .product-overlap-6 {
  background-size: 100% 100%;
  height: 383px;
  position: relative;
  width: 602px;
}

.product-frame .product-introducing-beats-by {
  color: #797979;
  font-family: var(--body-text-normalregular-font-family);
  font-size: var(--body-text-normalregular-font-size);
  font-style: var(--body-text-normalregular-font-style);
  font-weight: var(--body-text-normalregular-font-weight);
  left: 25px;
  letter-spacing: var(--body-text-normalregular-letter-spacing);
  line-height: var(--body-text-normalregular-line-height);
  position: absolute;
  top: 109px;
  width: 549px;
}

.product-frame .product-overlap-7 {
  height: 38px;
  left: 0;
  position: absolute;
  top: 51px;
  width: 602px;
}

.product-frame .product-overlap-group-4 {
  height: 38px;
  left: 0;
  position: absolute;
  top: 0;
  width: 602px;
}

.product-frame .product-rectangle-copy-2 {
  height: 4px;
  left: 0;
  position: absolute;
  top: 34px;
  width: 602px;
}

.product-frame .product-tab {
  height: 38px;
  left: 61px;
  position: absolute;
  top: 0;
  width: 202px;
}

.product-frame .product-text-wrapper-30 {
  color: #2e90e5;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 13px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 174px;
}

.product-frame .product-rectangle-copy-3 {
  height: 4px;
  left: 0;
  position: absolute;
  top: 34px;
  width: 200px;
}

.product-frame .product-tab-2 {
  height: 26px;
  left: 378px;
  position: absolute;
  top: 0;
  width: 98px;
}

.product-frame .product-text-wrapper-31 {
  color: #262626;
  font-family: "Poppins-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 83px;
}

.product-frame .product-text-wrapper-32 {
  color: #262626;
  font-family: "Proxima Nova-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 83px;
  letter-spacing: 0;
  line-height: normal;
  opacity: 0product-25;
  position: absolute;
  top: 6px;
  width: 11px;
  color: #33a0ff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.product-frame .product-payment-methods {
  height: 64px;
  left: 852px;
  position: absolute;
  top: 1130px;
  width: 552px;
}

.product-frame .product-share {
  height: 49px;
  left: 878px;
  position: absolute;
  top: 1231px;
  width: 499px;
}

.product-frame .product-share-btn {
  background-image: url("../../Assets/fb-bg.png");
  background-size: 100% 100%;
  height: 49px;
  left: 0;
  position: absolute;
  top: 0;
  width: 244px;
}

.product-frame .product-inner {
  height: 18px;
  left: 34px;
  position: relative;
  top: 14px;
  width: 182px;
}

.product-frame .product-facebook {
  height: 16px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 8px;
}

.product-frame .product-text-wrapper-33 {
  color: #ffffff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 160px;
}

.product-frame .product-inner-wrapper {
  background-image: url("../../Assets/twitter-bg.png");
  background-size: 100% 100%;
  height: 49px;
  left: 255px;
  position: absolute;
  top: 0;
  width: 244px;
}

.product-frame .product-inner-2 {
  height: 18px;
  left: 44px;
  position: relative;
  top: 13px;
  width: 173px;
}

.product-frame .product-text-wrapper-34 {
  color: #ffffff;
  font-family: "Poppins-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  left: 31px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 140px;
}

.product-frame .product-twitter {
  height: 13px;
  left: 0;
  position: absolute;
  top: 6px;
  width: 17px;
}

.product-frame .product-products-cards {
  height: 400px;
  left: 20px;
  top: 1407px;
  /* width: 1524px; */
  width: fit-content;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.product-frame .product-ui-challenge-day {
  background-color: #e2e2e3;
  border: 0px none;
  border-radius: 20px;
  box-shadow: 0px 4px 4px #00000040;
  height: 349px;
  position: relative;
  width: 269px;
  margin-right: 40px;
}

.product-frame .product-text-wrapper-35 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 22px;
  font-weight: 700;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 263px;
}

.product-frame .product-text-wrapper-36 {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  left: 208px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 262px;
}

.product-frame .product-overlap-group-wrapper {
  height: 25px;
  left: 153px;
  position: absolute;
  top: 296px;
  width: 100px;
}

.product-frame .product-group-wrapper {
  border: 2px solid;
  border-color: #000000;
  border-radius: 30px;
  height: 25px;
  position: relative;
  top: 8px;
}

.product-frame .product-group-4 {
  height: 22px;
  left: 10px;
  position: relative;
  top: -3px;
  width: 82px;
}

.product-frame .product-iconamoon-arrow {
  height: 11px;
  left: 67px;
  position: absolute;
  top: 8px;
  width: 11px;
}

.product-frame .product-text-wrapper-37 {
  color: #000000d9;
  font-family: "Inter-Bold", Helvetica;
  font-size: 10px;
  font-weight: 700;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 5px;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.85);
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 2px;
}

.product-frame .product-favourites-2 {
  height: 26px;
  left: 227px;
  position: absolute;
  top: 13px;
  width: 28px;
}

.product-frame .product-image-2 {
  height: 186px;
  left: 43px;
  object-fit: cover;
  position: absolute;
  top: 38px;
  width: 184px;
}

.product-frame .product-line-2 {
  height: 1px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 253px;
  width: 269px;
}

.product-frame .product-text-wrapper-38 {
  color: #000000;
  font-family: "Istok Web-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 36px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 320px;
  width: 21px;
}

.product-frame .product-star {
  height: 14px;
  left: 15px;
  object-fit: cover;
  position: absolute;
  top: 320px;
  width: 14px;
}

.product-frame .product-sold {
  color: #000000;
  font-family: "Inter-Bold", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 291px;
}

.product-frame .product-text-wrapper-39 {
  font-weight: 700;
  margin-top: 5px;
  position: absolute;
  width: 50px;
}

.product-frame .product-text-wrapper-40 {
  font-family: "Inter-Regular", Helvetica;
  position: absolute;
  left: 45px;
  top: 5px;
}

.product-frame .product-ui-challenge-day-wrapper {
  height: 349px;
  left: 24px;
  position: absolute;
  top: 1407px;
  width: 269px;
}

.product-frame .product-products-cards-2 {
  height: 349px;
  left: 641px;
  position: absolute;
  top: 1407px;
  width: 269px;
}

.product-frame .product-products-cards-3 {
  height: 349px;
  left: 943px;
  position: absolute;
  top: 1407px;
  width: 269px;
}

.product-frame .product-products-cards-4 {
  height: 349px;
  left: 1245px;
  position: absolute;
  top: 1407px;
  width: 269px;
}

.product-frame .product-products-heading {
  height: 36px;
  left: 24px;
  position: absolute;
  top: 1357px;
  width: 286px;
}

.product-frame .product-text-wrapper-41 {
  color: #000000;
  font-family: "Poppins-SemiBold", Helvetica;
  font-size: 24px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0product-48px;
  line-height: normal;
  position: absolute;
  top: 0;
  width: 284px;
}

.product-plus {
  height: 100%;
  width: 35%;
  margin-left: 50px;
  cursor: pointer;
  user-select: none;
}

.product-minus {
  height: 100%;
  width: 35%;
  cursor: pointer;
  user-select: none;
}
